.side-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.side-nav-bar-item:first-child{
    margin-top: 20px;
}

.side-nav-bar-item:last-child {
    margin-top: auto;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #ecf0f1;
}