.side-nav-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 10px 0;
    box-sizing: border-box;
}

.side-nav-bar-item svg {
    width: 100%;
    height: auto;
    max-width: 50px;
}