.list-item {
    display: flex;
    align-items: center;
    color: var(--tx-mint);
    margin-top: 10px;
    padding: 5px;
}

.priority-high {
    border-left: 5px solid var(--ac-aqua);
}
.priority-medium {
    border-left: 5px solid var(--pr-violet);
}
.priority-low {
    border-left: 5px solid var(--nb-gunmetal);
}

.list-item input[type="checkbox"] {
    transform: scale(2);
    margin-right: 20px;
    margin-left: 20px;
    accent-color: var(--bg-dark-blue); /* keeps the checked color */
    width: 16px;
    height: 16px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid var(--pr-violet); /* unticked border color */
    background-color: var(--bg-dark-blue); /* unticked fill color */
    border-radius: 4px;
    display: grid;
    place-content: center;
}

.list-item input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 0.1s ease-in-out;
    box-shadow: inset 10px 10px var(--ac-aqua); /* checkmark color */
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.list-item input[type="checkbox"]:checked::before {
    transform: scale(1);
}


h3 {
    margin-right: 20px;
}

@media (max-width: 600px) {
    p {
        display: none;
    }
}