.main-workspace {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100% - clamp(75px, 7%, 200px));
    margin-left: clamp(75px, 7%, 200px);
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
}

.title-header-line {
    margin: 0;
    width: 60%;
    height: 3px;
    border: none;
    background: linear-gradient(90deg, var(--ac-aqua), var(--pr-violet), transparent);
    border-radius: 2px;
}

.mutate-task-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10
}