.title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.title-header-text {
    margin-left: 10px;
    color: var(--tx-mint);
}

.title-header-icon svg {
    width: 40px;
    height: 40px;
}
